<template name="signin">
  <div class="grid-small grid-block dialog signin">
    <h2>Sign In</h2>
    <div class="twitter-signup twitter-auth">
      <a class="twitter-button button" href="#">Registrarse/Acceder con Twitter</a>
    </div>
    <div class="regular-signup regular-auth">
      <form>
        <div class="control-group">
          <label>Nombre de usuario</label>
          <div class="controls"><input id="username" type="text" value="" /></div>
        </div>
        <div class="control-group">
          <label>Contraseña</label>
          <div class="controls"><input id="password" type="password" value="" /></div>
        </div>
        <div class="form-actions">
          <a href="/forgot_password">¿Contraseña olvidada?</a>
          <input type="submit" class="button" value="Acceder" />
        </div>
      </form>
    </div>
  </div>
  <p class="grid-small footer-notice">¿No tienes cuenta todavía? <a href="signup" id="signup">¡Regístrate!</a></p>
</template>
