<template name="signup">
  <div class="grid-small grid-block dialog signup">
    <h2>Regístrate</h2>
    <div class="twitter-signup twitter-auth">
      <a class="twitter-button button" href="#">Registrarse/Acceder con Twitter</a>
    </div>
    <div class="regular-signup regular-auth">
      <form>
        <div class="control-group">
          <label>Nombre de usuario</label>
          <div class="controls"><input id="username" name="username" type="text" value="" /></div>
        </div>
        <div class="control-group">
          <label>Email</label>
          <div class="controls"><input id="email" name="email" type="text" value="" /></div>
        </div>
        <div class="control-group">
          <label>Contraseña</label>
          <div class="controls"><input id="password" name="password" type="password" value="" /></div>
        </div>
        <div class="form-actions">
          <input type="submit" class="button" value="Registrarme" />
        </div>  
      </form>
    </div>
  </div>
  <p class="grid-small footer-notice">¿Ya tienes cuenta como informador? <a href="signin" id="signin">¡Accede a tu cuenta!</a></p>  
</template>
