<template name="user_edit">
  <div class="grid-small grid-block dialog user-edit">
  	{{#with user}}
    {{#if profileIncomplete}}
    <div>
      Por favor, completa tu perfil para poder continuar.
    </div>
    {{/if}}
    <form>
      <h2>Editar Perfil</h2>
      <div class="control-group">
        <label>Nombre de usuario</label>
        <div class="controls">
          <input id="username" name="username" disabled="disabled" type="text" value="{{userName}}" />
        </div>
        <p class="note">URL de tu perfil: {{profileUrl}}</p>
      </div>
<!--       <div class="control-group">
        <label>Email</label>
        <div class="controls">
          <input id="email" name="email" disabled="disabled" type="text" value="{{email}}" />
        </div>
      </div> -->
      <div class="control-group">
        <label>Nombre a mostrar</label>
        <div class="controls">
          <input name="name" type="text" value="{{profile.name}}" />
        </div>
      </div>
      <div class="control-group">
        <label>Email</label>
        <div class="controls">
          <input name="email" type="text" value="{{userEmail}}" />
        </div>
      </div>
      <div class="control-group">
        <label>Bio</label>
        <div class="controls"><textarea name="bio" type="text">{{profile.bio}}</textarea></div>
      </div>
      <div class="control-group">
      <label>Usuario de Twitter</label>
        <div class="controls">
          <input name="twitter" type="text" value="{{getTwitter}}" />
        </div>
      </div>
      <!-- <div class="control-group">
        <label>GitHub Username</label>
        <div class="controls">
          <input name="github" type="text" value="{{getGitHub}}" />
        </div>
      </div>
      <div class="control-group">
        <label>Site</label>
        <div class="controls">
          <input name="site" type="text" value="{{profile.site}}" />
        </div>
      </div> -->
      <h3>Cambia tu Contraseña</h3>
      <div class="control-group">
        <label>Antigua Contraseña</label>
        <div class="controls"><input name="old_password" type="password" value="" /></div>
      </div>
      <div class="control-group">
        <label>Nueva Contraseña</label>
        <div class="controls"><input name="new_password" type="password" value="" /></div>
      </div>
      <div class="control-group">
        <label class="control-label">Notificaciones de Email</label>
        <div class="controls">
          <label class="checkbox">
            <input id="notifications_posts" type="checkbox" name="notifications_posts" {{hasNotificationsPosts}} /> Nuevos Controles
          </label>
          <label class="checkbox">
            <input id="notifications_comments" type="checkbox" name="notifications_comments" {{hasNotificationsComments}} /> Opiniones en mis controles
          </label>
          <label class="checkbox">
            <input id="notifications_replies" type="checkbox" name="notifications_replies" {{hasNotificationsReplies}} /> Respuestas a mis opiniones
          </label>
        </div>
      </div>
      {{#if isAdmin}}
      <div class="control-group">
        <h3>Invitaciones</h3>
        <label>Invitaciones</label>
        <div class="controls">
          <input name="invitesCount" type="text" value="{{invitesCount}}" />
        </div>
      </div>
      {{/if}}
      <div class="form-actions">
        <a href="/forgot_password">¿Contraseña olvidada?</a>
        <input type="submit" class="button" value="Guardar" />
      </div>
    </form>
    {{/with}}
  </div>
</template>
