<template name="user_profile">
	<div class="grid">
		{{#with user}}
		<div class="user-profile grid-block">
			<table>
				<tr>
					<td colspan="2"><img class="user-avatar" src="{{avatarUrl}}"/></td>
				</tr>
				<tr>
					<td>Nombre: </td>
					<td>{{profile.name}}</td>
				</tr>
				<tr>
					<td>Informador desde: </td>
					<td>{{createdAtFormatted}}</td>
				</tr>
				<tr>
					<td>Bio: </td>
					<td>{{profile.bio}}</td>
				</tr>
				{{#if getTwitterName}}
					<tr>
						<td>Twitter: </td>
						<td><a href="http://twitter.com/{{getTwitterName}}">{{getTwitterName}}</a></td>
					</tr>
				{{/if}}					
			</table>
			{{#if canEditProfile}}
				<a class="button inline" href="/users/{{slug}}/edit">Editar perfil</a>
			{{/if}}
			{{#if canInvite}}
				{{#if invitesCount}}
					<a class="button inline invite-link" href="#">Invitaciones ({{invitesCount}} left)</a>
				{{else}}
					<a class="button inline disabled" href="#">Invite (none left)</a>
				{{/if}}
			{{/if}}
		</div>
		{{/with}}
	</div>
</template>
