<template name="toolbox">
    <div class="grid-small grid-block dialog admin toolbox">
      <h2>Toolbox</h2>
      <h4>Actualizar perfiles</h4>
      <ul>
      	<!-- <li><a href="#" class="update-categories">Update Categories</a></li> -->
        <li><a href="#" class="update-user-profiles">Actualizar Perfiles de los Informadores</a></li>
        <!-- <li><a href="#" class="update-posts-slugs">Update Posts Slugs</a></li> -->
      </ul>
      <h4>Herramientas</h4>
      <ul>
        <li><a href="#" class="give-invites">Dar una invitación a todos los informadores registrados</a></li>
      </ul>
    </div>
</template>
