<template name="mobile_nav">
  <div id="" class="mobile-nav">
    <div>
      <ul>
        <li><a class="top" href="/new">Últimos controles</a></li>
        <li class="dropdown">
        <a class="categories" href="/">Categories</a>
        <div class="dropdown-menu">
          <ul role="menu" aria-labelledby="dLabel">
            {{# each categories}}
              <li><a class="pending" href="{{categoryLink}}">{{name}}</a></li>
            {{/each}}
          </ul>
        </div>
      </li>
      <li a class="categories" href="/category/madrid">Controles en Madrid</a></li>
      <li a class="categories" href="/category/barcelona">Controles en Barcelona</a></li>
        {{#if currentUser.isAdmin}}
          <li><a class="users" href="/users">Usuarios</a></li>
          <li><a class="settings" href="/settings">Ajustes</a></li>
          <li><a class="admin" href="/admin">Admin</a></li>
        {{/if}}
        {{#if canView}}
          <li><a href="/submit">Informar</a></li>
        {{/if}}
      </ul>
    </div>
  </div>
</template>
