<template name="mobile_nav">
  <div id="" class="mobile-nav">
    <div>
      <ul>
        <li><a class="new" href="/new">Últimos controles</a></li>
        <li a class="categories" href="/category/madrid">Controles en Madrid</a></li>
        <li a class="categories" href="/category/barcelona">Controles en Barcelona</a></li>
        {{#if currentUser.isAdmin}}
          <li><a class="users" href="/all-users">Usuarios</a></li>
          <li><a class="settings" href="/settings">Ajustes</a></li>
        {{/if}}
        {{#if canView}}
          <li><a href="/submit">Informar</a></li>
        {{/if}}
      </ul>
    </div>
  </div>
</template>
